<!DOCTYPE html>
<html lang="en">

<body>
  
  <h1>hola, {{title}}</h1>
  <p>mi nombre es: {{nombre}}</p>

  <!-- Botón para alternar la visibilidad -->
  <button (click)="setVisible()">
    {{ visible ? 'Ocultar' : 'Mostrar' }}
  </button>

  <div>Total : {{counter}}</div>
  <!-- Tabla que se muestra solo si "visible" es true -->
  <table *ngIf="visible">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <ng-container *ngIf="(user === 'diego' || user === 'martin') else resto">
          <td>{{i + 1}}</td>
          <td>{{user}}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>

  <app-counter [title]="subTitle" (counterEmiter)="setCounter($event)"></app-counter>

  <ng-template #resto>
   
      <td>2</td>
      <td>nuevo</td>
   
  </ng-template>

  
  
</body>
</html>
